.btn {
  @apply font-semibold no-underline gap-2;
  @apply inline-flex flex-shrink-0 cursor-pointer select-none flex-wrap items-center justify-center border-transparent text-center transition duration-200 ease-in-out rounded-md capitalize;
  @apply h-12 px-4 text-sm min-h-12;
  line-height: 1em;
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  &:active:hover,
  &:active:focus {
    animation: button-pop 0s ease-out;
    transform: scale(var(--btn-focus-scale, 0.97));
  }

  /* disabled */
  &-disabled,
  &[disabled],
  &:disabled {
    @apply pointer-events-none bg-base-100;
  }
  /* brand colors */
  &-primary {
    @apply border-primary bg-primary text-primary-content outline-primary;
    @media (hover: hover) {
      &:hover {
        @apply border-primary/80 bg-primary/80;
      }
    }
    &.btn-active {
      @apply border-primary/80 bg-primary/80;
    }
  }
  @media (hover: hover) {
    &-disabled:hover,
    &[disabled]:hover,
    &:disabled:hover {
      @apply border-opacity-0 bg-neutral bg-opacity-20 text-base-content text-opacity-20;
    }
  }
}

@keyframes button-pop {
  0% {
    transform: scale(var(--btn-focus-scale, 0.98));
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
