@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./btn.css";
@import "./progress.css";
@import "tailwindcss/utilities";

#__next,
#root {
  height: 100%;
}

body,
html {
  height: 100%;
  margin: 0;
}
